.card{
    min-width: 200px;
    max-width: 600px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgb(148, 148, 148);
    border-radius: .4rem;
    transition: 300ms;
}

.card:hover{
    background-color: rgb(243, 243, 243);
    transition: 300ms;
}

.card h3{
    margin: 5px;
    color: black;
}

.card p{
    margin: 5px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 20px;
}

.card img{
    width: 100%;
    display: inline-block;
}