body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content{
    margin-top: 65px;
}

.AppBar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 10px grey;
}

.AppBar li{
    float: left;
}

.AppBar li *{
    display: block;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

.link.button{
    text-decoration: none;
    color: black;
}

.link.button:hover{
    background-color: #f3f0f0;
}